* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    border: 1px solid black;
    width: 100%;
    position: fixed;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);

}

.links {
    display: flex;
}

nav .links ul {
    display: flex;
    align-items: center;
}

nav h1 {
    padding: 15px;
    color: white;
}

nav .links ul li a {
    padding: 10px 15px 10px 30px;
    text-decoration:none;
    color: rgba(255, 255, 255, 0.274);
    transition: .5s;
}

nav .links ul li a:hover {
    color: white;
}

#hero {
    background-position: top center;
    height: 80vh;
    position: relative;
    padding-top: 70px;
    background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
    background-attachment: fixed;

}

#hero article h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4rem;
    text-align: center;
    font-family: "Catamaran", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
#hero article button{
    background-color:rgb(238,9,121);
    border-radius: 50px;
    padding: 10px 25px;
    color: white;
    border: 1px solid rgb(238,9,121);
    margin-left: 42%;
}
#hero article button:hover{
   background-color: #ca0867;
}
#about{
    padding: 6%;
    display: block;
    /* display: flex;
    justify-content: space-between;
    align-items: center;  */
}
#about .container{
    display: flex;
    justify-content: space-between;
}
#about article{
    width: 30%;
    height: 30%; 
    margin-left: 15%;
}
#about article h3{
    font-weight: 800;
    line-height: 1.2;
    font-size: 50px;
    font-family: "Catamaran", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;

}
#about article p{
    font-style: italic;
    font-size: 25px;
}

#about .about__img img{
    border-radius:50% ;
    max-width: 100%;
    height: auto;
    margin-bottom: 20%;
}
#about .about__img{
    display: flex;
    align-items: end;
    width: 25%;
    height: 25%;
    flex-direction: column-reverse;
    position: absolute;
    left: 70%;
}
#about .row{
  position: relative;
}
.miidle  .miidle__img{
    display: flex;
    align-items: end;
    width: 25%;
    height: 25%;
    /* flex-direction: column-reverse;
    position: absolute; */
    left: 70%;
    border-radius: 50%;

}
.miidle .miidle__img img{
    /* display: flex;
    align-items: end; */
    width: 25%;
    height: 25%;
    /* flex-direction: column-reverse; */
    /* position: absolute; */
    right: 100px;
    border-radius: 50%;
}
footer{
    text-align: center;
    margin-bottom: 3%;
    color: white;
    width: 100%;
    height: 10%;
    background-color: black;
}


@media (max-width: 500px){
    .col-sm-12{
        width: 100%;
    }
}